@font-face {
    font-family: 'norsebold';
    src: url('./fonts/norse-bold-webfont.woff2') format('woff2'),
         url('./fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    --light-gray :#E5E7EB;
    --selected-color : blue;
    --invalid-color : red;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

body {
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 500px;
    position: relative;

    flex: 0 0 auto;
}

.sidebar>img {
    width: 100%;
}

.image-attribution {
    position: absolute;
    bottom: 1rem;
    left: 0;
    text-align: center;
    width: 100%;
    color: white;
}
.image-attribution>a {
    color: inherit;
}

.logo-section {
    font-family: 'norsebold', serif;
    font-size: 5rem;
    color: white;
    background-color: rgb(0, 0, 0, .5);
    box-sizing: border-box;
    position: absolute;
    top: 150px;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-section>img {
    height: 6rem;
}

.main {
    background-color: var(--light-gray);
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-container {
    background-color: white;
}