@font-face {
    font-family: 'norsebold';
    src: url('norse-bold-webfont.woff2') format('woff2'),
         url('norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    --light-gray :#E5E7EB;
    --selected-color : blue;
    --invalid-color : red;
}

body {
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 500px;
    position: relative;
}

.sidebar>img {
    width: 100%;
}

.image-attribution {
    position: absolute;
    bottom: 1rem;
    left: 175px;
    color: white;
}
.image-attribution>a {
    color: inherit;
}

.main {
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
}

.input-container {
    background-color: white;
}